<div class="container">
  <div class="footer">
    <p>CONTACT INFO</p>
    <div class="contact-info">
      <ul>
        <li><a href="mailto:A7medne@gmail.com" target="_blank"><img src="../../assets/images/gmail.png" alt=""></a></li>
        <li><a href="https://www.linkedin.com/in/ahmed-nasruddin/" target="_blank"><img src="../../assets/images/linkedin-colored.png" alt=""></a></li>
        <li><a href="https://www.behance.net/ahmed_nasru" target="_blank"><img src="../../assets/images/behance-colored.png" alt=""></a></li>
      </ul>
    </div>
    <P>&copy; 2024</P>
  </div>
</div>
